discord.py
flask
flask-bcrypt
flask_login
flask-sqlalchemy
flask-wtf
wolframalpha
sqlalchemy
sqlalchemy_utils
requests
bs4
lxml
cachetools
flickr_api
flickrapi
wikipedia
wordnik-py3
libsass
arrow
alembic
